<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @post.heading %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<p>
  <strong>External url:</strong>
  <%= @post.external_url %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @post.timestamp %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
